<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style type="text/css">


        body{
                background-color: #e7e7e7;
        }




        #chat-section{  

            display: grid;
            grid-template-columns: 1fr 2fr;
            justify-content: space-around;
            align-items:center;
            justify-items: center;


        }


        #chat-box-section{
           
            background-image: url('../../public/media/chat-background-imgae.jpg');
            width: 80vw;
            height: 92vh;
            background-repeat:repeat;
            display: grid;
            grid-template-rows: 1fr 6fr 1fr;
            justify-content: space-around;
            align-items:center;
            justify-items: center;
            border: rgb(211, 211, 211),2px,solid;
            border-radius: 10px;
            margin: 10px;
        }


       

        .chat-header{
                margin: 20px;
        }

        #user-name{
            color:rgb(0, 196, 46);
            font-size:20px;

        }

        #user-typing{
            font-style: italic;
            color:#888;
        }

        #chat-header{
            background-color: transparent;
            width: 80vw;
            height: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 4fr;
            justify-content:start;
            align-items: center;
            background: rgb(255, 255, 255, 0.7); 
            border: rgb(211, 211, 211),1px,solid;
            
        }

        #chat-history{
            background-color: transparent;
            width: 100%;
            height: 100%;
            overflow:auto;
        }

        #chat-box{

            background-color: transparent;
            width: 100%;
            height: 100%;
            background: rgb(255, 255, 255, 0.7); 
            border: rgb(211, 211, 211),1px,solid;
            display: grid;
            align-items: center;
         
        }

        #chating{
            display: grid;
            grid-template-columns: 4fr 1fr;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
        }   

        #chat-typing{
            margin: 20px;
            height: 30px;
             border-radius:10px;
             border:1px solid black;
             padding-left:10px;
             
        }

        #chat-send-btn{
            margin: 20px;
            height: 30px;
            background-color:rgb(0, 196, 46);
                    color:white;
                    border-radius:10px;
                    border:1px solid white;
        }

        .user-image, .user-name{
            margin-right:20px;

        }
        .user-image>img{
                height:8vh;
                width:auto;
                object-fit:fill;
                border-radius:50%;
             
        }

#chat-history::-webkit-scrollbar {
    width: 8px; 
    margin-left: 10px; 
}

#chat-history::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 4px; 

}

#chat-history::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
}

#chat-history::-webkit-scrollbar-track {
    background: #f1f1f1; 
}



            .user1{
                display:flex;
                justify-content:start;
                align-items:center;
                margin:10px;
               
            }
            .user2{
                display:flex;
                justify-content:end;
                align-items:center;
             
            }

            #typed-text{
                display:flex;
                justify-content:end;
                align-items:end;
                text-align:end;
                margin:10px;
            }

            .sender-text{
                display:flex;
                justify-content:start;
                align-items:start;
                text-align:start;
                margin:10px;
           
            }


            .name-time{

                display:flex;
                flex-direction:row;
               justify-content:space-between;
               padding:5px;
                min-width:10vw;
            }

           
            .chat-text{
                display:grid;
                grid-template-rows:1fr;
                background-color:white;
                border:1.5px solid #00bc7b;
                width:40vw; 
               border-radius:20px;
                height:auto;
                min-height:5vh;
                margin:0px 20px 20px 20px;
                width:auto;
                max-width:40vw;
                padding:5px;
                border-bottom-left-radius: 1%;
            }


            .sender-chat-text{
                display:grid;
                grid-template-rows:1fr;
                height:auto;
                min-height:5vh;
               margin:20px;
               background-color:rgb(183, 243, 222);
                width:40vw; 
                border:1.5px solid #00bc7b;
               border-radius:20px;
                min-height:5vh;
                margin:20px;
                width:auto;
                max-width:40vw;
                padding:5px;
                border-bottom-right-radius: 1%;
            }


            #connected>th{
                background-color:rgb(32, 161, 235);
                color:white;
                height: 7vh;
                border: 1px solid white;
                border-radius: 10px;

            }

            .connected-user>td{

                    background-color: rgba(166, 222, 255, 0.886);
                    border: 1px solid white;
                    border-radius: 5px;
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    height: 5vh;
            }

            #group-table{
               width:10vw;
              border: 1px solid #ffffff;
            }


    </style>



</head>
<body>
    <div id="chat-section">
    <div class="chat-area" id="chat-box-section">
       
        <div id="chat-header">
            <div id="user-name" class="chat-header">Welcome User1</div>
            <div id="user-typing" class="chat-header">User Typing....</div>
        </div>
        <div id="chat-history" >
            
            
            <!-- <div class="user1">
                <div class="user-image">
                    <img src="public/media/logoImg.png">
                </div>
                
                <div class="chat-text">
                    <div class="name-time">
                      <div class="user-name">User1</div>
                       <div class="chat-time">02:20 PM</div>
                      </div>
                          <div class="sender-text">
                          Hello
                          </div>
                  
               </div> 
            </div> -->
           
           
           <!--  <div class="user2">
                <div class="sender-chat-text">
                    <div class="name-time">
                      <div class="user-name">User2</div>
                       <div class="chat-time">02:20 PM</div>
                      </div>
                          <div id="typed-text">
                          Hello
                          </div>
                  
               </div> 
                <div class="user-image">
             
                    <img src="public/media/logoImg.png">
                </div>
            </div> -->
            

            
            

    </div>
        <div id="chat-box">
            <form id="chating">
            <input type="text" placeholder="Say hi..." id="chat-typing" />
            <input type="submit" value="SEND" id="chat-send-btn"  />
            </form>
        </div>
         </div>
    
    <div class="connection-area" id="group-connections">
        <table  id="group-table">
            <tr id="connected"> <th>connected users</th> </tr>
                <tr class="connected-user"> <td>user1</td>  </tr>
              <tr class="connected-user">  <td>user2</td></tr>
              <tr class="connected-user">  <td>user3</td></tr>
           
        </table>

    </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>

    <script >
                       const socket = io(); // Automatically connects to the same host


                    const chatTyping=document.getElementById('chat-typing');
                    const chatSendBtn=document.getElementById('chat-send-btn');
                    const chating=document.getElementById('chating');
                    const typedText=document.getElementById('typed-text');
                    const chatHistory=document.getElementById('chat-history');
                
                    chating.addEventListener('submit',(event)=>{

                        event.preventDefault();
                        const chatText=chatTyping.value.trim();
                         
                        if(chatText){
                            console.log(chatText);
                        
                     const userSecond=document.createElement("div")
                     userSecond.className="user2";
                     chatHistory.appendChild(userSecond);

                    const senderChatText=document.createElement("div");
                    senderChatText.className="sender-chat-text";
                    userSecond.appendChild(senderChatText);

                    const nameTime=document.createElement("div");
                    nameTime.className="name-time";
                    senderChatText.appendChild(nameTime);

                    const userName=document.createElement("div");
                    userName.className="user-name";
                    userName.innerText="You (John)"
                    nameTime.appendChild(userName);

                    const chatTime=document.createElement("div");
                    chatTime.className="chat-time";
                    const date=new Date();
                    const months = [
                    "January", "February", "March", "April", "May", "June",
                    "July", "August", "September", "October", "November", "December"];
                    const day = date.getDate(); 
                    const month = months[date.getMonth()]; 
                    const year = date.getFullYear(); 
                    let hours = date.getHours(); 
                     
                    if(hours==0){
                        hours=12;
                    }
                    const minutes = date.getMinutes(); 
                    chatTime.innerText=` ${year}, ${month} ${day},  ${hours}:${minutes}`;
                    nameTime.appendChild(chatTime);

                    const typedText=document.createElement("div");
                    typedText.id="typed-text";
                    senderChatText.appendChild(typedText);
                        
                    const userImage=document.createElement("div");
                    userImage.className="user-image";
                    userSecond.appendChild(userImage);

                    const image=document.createElement("img");
                    image.src="public/media/logoImg.png";
                    image.alt="User Image";
                    userImage.appendChild(image);

                     
                    const typedTextChild=document.createElement("div");
                    typedTextChild.innerText=chatText;
                    typedText.appendChild(typedTextChild);

                    socket.emit('new_message',chatText);
                        
                       chatTyping.value="";
                       chatHistory.scrollTop = chatHistory.scrollHeight;


                        }
                        
                    });
                    

               
                    socket.on('send_message',(userDetail)=>{
                
                
                        console.log(userDetail.dateTime)
                        
                        const messageEle=document.createElement("div");

                //2024-12-24T10:30:20.484Z
                const userFirst=document.createElement("div")
                    userFirst.className="user1";
                     chatHistory.appendChild(userFirst);

                const userImage=document.createElement("div");
                    userImage.className="user-image";
                    userFirst.appendChild(userImage);

                    const image=document.createElement("img");
                    image.src="public/media/logoImg.png";
                    image.alt="User Image";
                    userImage.appendChild(image);


             

                    const chatingText=document.createElement("div");
                    chatingText.className="chat-text";
                    userFirst.appendChild(chatingText);

                    const nameTime=document.createElement("div");
                    nameTime.className="name-time";
                    chatingText.appendChild(nameTime);

                    const userName=document.createElement("div");
                    userName.className="user-name";
                    userName.innerText="You (John)"
                    nameTime.appendChild(userName);

                    const chatTime=document.createElement("div");
                    chatTime.className="chat-time";
                    const date=new Date();
                    const months = [
                    "January", "February", "March", "April", "May", "June",
                    "July", "August", "September", "October", "November", "December"];
                    const day = date.getDate(); 
                    const month = months[date.getMonth()]; 
                    const year = date.getFullYear(); 
                    let hours = date.getHours(); 
                   
                    if(hours==0){
                        hours=12;
                    }
                    const minutes = date.getMinutes(); 
                    chatTime.innerText=` ${year}, ${month} ${day},  ${hours}:${minutes}`;
                    nameTime.appendChild(chatTime);

                    const senderText=document.createElement("div");
                    senderText.className="sender-text";
                    chatingText.appendChild(senderText);
                        
                    

                     
                    const typedTextChild=document.createElement("div");
                    typedTextChild.innerText=userDetail.message;
                    senderText.appendChild(typedTextChild);

               

            })                   
                    


    </script>






</body>
</html>